@charset "UTF-8";

.container {
  width: 100%;
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 120px;
}

.inner {
  width: 94%;
  max-width: 840px;
  margin-inline: auto;
  padding: 32px;
  border-radius: 32px;
  background-color: var(--color-white-2);
  box-shadow:
    inset 5px 5px 10px var(--color-gray-2),
    inset -5px -5px 10px var(--color-white-1);
}

.title {
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 24px;
  font-family: var(--font-dotgothic);
}

.box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 16px;
  border-radius: 8px;
  background-color: var(--color-white-2);
  box-shadow:
    inset 5px 5px 10px var(--color-gray-2),
    inset -5px -5px 10px var(--color-white-1);
}

.line {
  display: flex;
  align-items: center;
}

.term {
  width: 220px;
  font-family: var(--font-dotgothic);
}

.description {
  width: 100%;
}

.button {
  display: block;
  width: 90%;
  max-width: 320px;
  margin-inline: auto;
  margin-top: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 32px;
  background: linear-gradient(145deg, var(--color-white-3), var(--color-gray-3));
  box-shadow:
    5px 5px 10px var(--color-gray-2),
    -5px -5px 10px var(--color-white-1);
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-dotgothic);
  text-align: center;
}
