@charset "UTF-8";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
  line-height: 1;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 700;
  width: 100%;
  height: var(--header-height-pc);
  background-color: var(--color-green-1);
  box-shadow: 20px 20px 60px var(--color-green-2), -20px -20px 60px var(--color-green-3);
  color: var(--color-white-1);
}
.title {
  font-size: 32px;
}
