.information {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 90%;
  max-width: 540px;
  margin-inline: auto;
}
.informationRow {
  display: flex;
  align-items: center;
  gap: 3%;
  width: 100%;
}
.informationTerm {
  width: 22%;
  font-size: 16px;
  font-weight: 700;
  color: var(--colorWhite1);
  letter-spacing: 0.05em;
}
.informationDescription {
  width: 75%;
  font-size: 16px;
  font-weight: 700;
  color: var(--colorWhite1);
  letter-spacing: 0.05em;
}
