.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: auto;
  letter-spacing: 0.05em;
  line-height: 1;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 700;
  color: var(--colorWhite1);
  background-color: var(--colorGreen1);
  box-shadow: 20px 20px 60px var(--colorGreen2), -20px -20px 60px var(--colorGreen3);
}
