.main {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-top: 64px;
  margin-bottom: 64px;
  flex-grow: 1;
  max-width: 840px;
  width: 94%;
  margin-inline: auto;
  background-color: var(--colorGreen1);
  box-shadow: inset 20px 20px 60px var(--colorGreen2), inset -20px -20px 60px var(--colorGreen3);
}
